*{
 padding: 0px;
 margin: 0px; 
}
ul{
    border: solid 1px;
    width: 330px;
    position: fixed;
    height: 100%;
    background-color: yellowgreen;
    padding-top: 60px;
    list-style: none;
}
#text1{
    color: red;
    font-size: 35px;
    font-weight: bold;
}
#text2{
    color: blue;
    font-size: 33px;
    font-weight: bold;
}
ul li{
    border: solid 1px yellow;
    height: 50px;
    width: 160px;
    margin-left: 70px;
    background-color: rgb(255, 47, 203);
    text-align: center;
    line-height: 50px;
    border-radius: 20px;
    margin-bottom: 6px;
}
ul li a{
    color: aqua;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}
ul li:hover{
    background-color: pink;
}
#Home{
    border: solid 1px;
    height: 750px;
    background-color: gainsboro;
    padding-left: 335px;
}
#text3{
    color: blueviolet;
    font-size: 58px;
}
#text4{
    color: blue;
    font-size: 50px;
}
#text5{
    font-size: 23px;
}
#bt1{
    height: 60px;
    width: 200px;
    background-color: blueviolet;
    border-radius: 20px;
    color: cornsilk;
    font-weight: bold;
    margin-top: 20px;
}
#about{
    border: solid 1px;
    height: 750px;
    background-color: rgb(105, 105, 105);
    padding-left: 335px;
}
#aboutme{
    font-size: 50px;
    color: silver;
}

html{
    scroll-behavior: smooth;
}